<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.MadFinalProject">

        <receiver
            android:name=".MyReceiver"
            android:exported="false"/>
        <receiver android:name=".scholarships.ScholarshipReminderReceiver" android:exported="false"/>

        <service
            android:name=".MyService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token"/>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <activity android:name=".loginActivity" />
        <activity android:name=".signupActivity" />
        <activity android:name=".forgotPasswordActivity" />
        <activity android:name=".dashboardActivity"/>
        <activity android:name=".ProfileActivity"/>
        <activity android:name=".EditProfileActivity"/>
        <activity android:name=".communitypageActivity"/>
        <activity android:name=".ChatActivity" />
        <activity android:name=".CreatePostActivity" />
        <activity android:name=".CommentsActivity" />
        <activity android:name=".CostCalculatorActivity" />
        <activity android:name=".ScholarshipActivity" />
        <activity android:name=".MyPostsActivity" />
        <activity android:name=".ExploreActivity"/>
        <activity android:name=".CountrySelectionActivity"/>
        <activity android:name=".sopUniversitySelectionActivity" tools:ignore="Instantiatable" />
        <activity android:name=".SopResultActivity"/>
        <activity android:name=".UserDetailsActivity"/>
        <activity android:name=".CountrySelectionRoadmapActivity"/>
        <activity android:name=".RoadmapActivity"/>
        <activity android:name=".LiveConsultantActivity" />
        <activity android:name=".AIEligibilityActivity" />
        <activity android:name=".ConsultantsChatlistActivity" />
        <activity android:name=".ConsultantsChatActivity" />
        <activity android:name=".ConsultantsCallActivity" />
        <activity android:name=".TestPreparationActivity" />
        <activity android:name=".EnglishLanguageTestsActivity" />
        <activity android:name=".IeltsAcademicActivity" />
        <activity android:name=".PteAcademicActivity" />
        <activity android:name=".IeltsPreparationActivity" />
        <activity android:name=".IeltsLessonsActivity" />
        <activity android:name=".IeltsPracticeActivity" />
        <activity android:name=".IeltsMockTestsActivity" />
        <activity android:name=".IeltsReportsActivity" />
        <activity android:name=".PtePreparationActivity" />
        <activity android:name=".PteLessonsActivity" />
        <activity android:name=".PtePracticeActivity" />
        <activity android:name=".PteMockTestsActivity" />
        <activity android:name=".PteReportsActivity" />
        <activity android:name=".EnglishFoundationActivity" />
        <activity android:name=".GrammarTopicsActivity" />
        <activity android:name=".GrammarLessonActivity" />
        <activity android:name=".VocabularyHomeActivity" />
        <activity android:name=".VocabularyWordsActivity" />
        <activity android:name=".VocabularyDetailActivity" />
        <activity android:name=".VocabularyFlashcardsActivity" />
        <activity android:name=".VocabularyQuizActivity" />
        <activity android:name=".VocabularyMatchActivity" />
        <activity android:name=".VocabularyFillBlankActivity" />
        <activity android:name=".VocabularyListeningActivity" />
        <activity android:name=".VocabularySpeakingActivity" />
        <activity android:name=".VocabularyBookmarksActivity" />
        <activity android:name=".VocabularyProgressActivity" />
        <activity android:name=".VocabularyChallengeActivity" />
        <activity android:name=".FoundationFlowActivity" />
        <activity android:name=".AdmissionTestsActivity" />
        <activity android:name=".SatDetailActivity" />
        <activity android:name=".VisaMockInterviewActivity" />
        <activity android:name=".VisaInterviewDashboardActivity" />
        <activity android:name=".VisaInterviewSessionActivity" />
        <activity android:name=".PersonalBackgroundActivity" />
        <activity android:name=".VisaInterviewResultActivity" />
        <activity android:name=".VisaInterviewProgressActivity" />
        <activity android:name=".VisaTopicDetailActivity" />


    </application>

</manifest>
